.pagination {
  * {
    outline: none;
  }

  .disabled {
    color: gray;
  }
}
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  font-family: "FontAwesome";
  font-weight: bold;
  content: '\f104' !important;
}
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  font-family: "FontAwesome";
  font-weight: bold;
  content: '\f105' !important;
}
